#tarif {
    width: 700px;
    height: 700px;
    margin-top: 30px;
}
#imgA-ab {
    width: auto;
    margin-left: 30px;
    margin-top: 20px;
    max-width: 100%;
    float:left;
    background-color: #1d1d1d;
}
.texte-abo {
    margin-left: 300px;
    color:white;
    text-align: justify;
    padding-top: 100px;
    padding-right: 200px;
    font-size: 20px;
}

#imgA-ab2 {
    width: auto;
    margin-left: 30px;
    margin-top: 20px;
    max-width: 100%;
    float:left;
    background-color: #1d1d1d;
}
.texte-abo2 {
    margin-left: 300px;
    color:white;
    text-align: justify;
    padding-top: 190px;
    padding-right: 200px;
    font-size: 20px;
}

#imgA-ab3 {
    width: auto;
    margin-left: 30px;
    margin-top: 20px;
    max-width: 100%;
    float:left;
    background-color: #1d1d1d;
}
.texte-abo3 {
    margin-left: 300px;
    color:white;
    text-align: justify;
    padding-top: 250px;
    padding-right: 200px;
    font-size: 20px;
}

.image-alignement2abo {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 0 0 0;
    background: rgb(0,0,0);
}

.image-alignement3abo {
    display: flex;
    flex-direction: row;
    padding: 50px 0 0 0;
    background-color: black
    }